---
import Layout from "../../../layouts/Correspondencia.astro";

const { idDocumento } = Astro.params;
---

<Layout title="Historial de Versiones">
    <section class="p-5">
      
    </section>
  </Layout>