---
import Layout from "../../../layouts/Correspondencia.astro";
import Asignacion from "../../../components/Asignacion";

const { idDocumento } = Astro.params;
---

<Layout title="Asignaciones">
    <section class="p-5">
      <Asignacion></Asignacion>
    </section>
  </Layout>