---
import Layout from "../layouts/Correspondencia.astro";
import AsigList from "../components/AsignacionLista";
---

<Layout title="Control de Asignaciones">
    <section class="p-5">
      <AsigList></AsigList>
    </section>
  </Layout>