---
import Layout from '../layouts/Layout.astro';
import Logo from '../icons/logo.astro'
import Card from '../components/Card.astro'
---
<script>
	import Auth from '../pages/login/authLogin';
	const auth = new Auth();
	auth.checkTokenValidity();
</script>
<Layout title="Iniciar sesión">
    <main>
        <Logo />
        <div class="login-container">
            <form method="get">
            <h1>Inicio de Sesión</h1>
            <div class="form-container">
                <input type="text" required placeholder="Correo Electronico"  name= "cuenta" class="account-input">
                <input type="password" required placeholder="Contraseña" name= "password" class="password-input">
                <div class="button-container">
                    <button class="login-button">Ingresar</button>
                </div>
            </div>
        </div>
    </main>
</Layout>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('form');
        form?.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());
            if(data.cuenta == null || data.cuenta == "1"  ||data.password == null || data.cuenta == "1")
            {
                window.location.href = '/fcaSpace';
                // console.log("Ingresa la cuenta y el password")
                // return;
            }
            // try {
            //     const url = `https://www.backwalkmanapi.somee.com/api/Usuario/Usuarios/${data.cuenta}/${data.password}`;
            //     console.log(url);
            //     const response = await fetch(url);
            //     if (!response.ok) {
            //         const error = await response.json();
            //         alert(error.message);
            //         throw new Error('Error al validar al usuario');
            //     }
            //     const responseData = await response.json();
            //     console.log(responseData);
            //     const resToken = await fetch(`https://walkman-apie-xpress-js.vercel.app/login/login/${data.cuenta}`) 
            //     const restokenData = await resToken.json();
            //     console.log(restokenData);
            //     const expiry = new Date().getTime() + 3600000;
            //     localStorage.setItem('userID', restokenData.user._id);
            //     localStorage.setItem('token', restokenData.token);
            //     localStorage.setItem('expiry', expiry.toString());
            //     localStorage.setItem('profilePicture', restokenData.user.URLFoto);
            //     window.location.href = '/fcaSpace';
            // } catch (error) {
            //     console.error('Error al obtener datos desde la API:', error);
            // }
        });
    });
</script>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .login-container {
        text-align: center;
        
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #fbfbfb; 
    }

    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1rem;
    }

	.account-input{
		background: #fff;
	}

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 0;
		align-items: center;
        margin-top: 1rem;
    }

    .login-button {
		width: 100%;
        max-width: 300px;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: #F9B818;
        color: #fbfbfb;
        transition: background-color 0.3s ease;
    }

    .login-button:hover {
        background-color: #fbfbfb;
		color: #1F284C;
    }
</style>

