---
import Layout from '../../layouts/Correspondencia.astro';
import EditProcessForm from '../../components/Edit_Process.jsx';

// Obtener el ID del proceso desde los parámetros de la URL
const { id } = Astro.params;
console.log('ID obtenido de los parámetros:', id); // Verificar el ID
---

<Layout title="Editar Proceso">
  <section class="p-5">
    <EditProcessForm 
      idProceso={id}  
      client:load
    />
  </section>
</Layout>
