---
import NavBar from "../components/Nav-Bar.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <div class="">
      <NavBar></NavBar>

      <!-- Contenido dinámico con slot -->
      <main>
        <slot />
      </main>

      <Footer></Footer>
    </div>

    <style is:global>
      html {
        height: 100vh;
      }

      .title{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
    </style>
  </body>
</html>