---
import DocumentDetails from '../../components/Edit_Document'
import Layout from '../../layouts/Correspondencia.astro';

const { id } = Astro.params;  // Obtener el ID del documento desde la URL

// let token = Astro.cookies.get('token')?.value;

// if (!token) {
//   throw new Error('No se ha encontrado un token de autenticación en las cookies.');
// }
---

<Layout title={`Detalles del Documento ${id ?? ''}`}>
  <main class="p-5">
    {/* Renderizar DocumentDetails pasando solo el idDocumento */}
    <DocumentDetails
      idDocumento={id} 
      client:load
    />
  </main>
</Layout>


